* {
    font-family: 'Droid Sans', sans-serif;
}

a {
    color: #4c4c4c;
}

a:hover {
    color: #FF5353;
    text-decoration: none;
}

a:focus {
    color: #FF5353;
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
}

select {
    border: none;
    color: #FF5353;
}

h4 {
    font-size: 18px;
}

.wrapper {
    width: 1256px;
    margin: auto;
    position: relative;
}

.header {
    border-top: solid 2px #FF5353;
}

.logo {
    padding-left: 159px;
    margin-top: -2px;
    float: left;
}

.nav {
    float: left;
}

.nav-top {
    font-size: 12px;
    border-bottom: 1px solid rgb(238, 238, 238);
    padding: 12px 0 11px 0;
    margin-left: 24px;
    width: 930px;
}

.nav-top-left {
    float: left;
}

.nav-top-left span {
    margin-left: 9px;
}

.nav-top-right {
    float: right;
    padding-right: 166px;
}

.nav-top-right span {
    margin: 0 2px 0 1px;
}

.name-menu {
    float: left;
    font-size: 15px;
    font-weight: 700;
}

.nav-bottom {
    padding: 19px 0 0 26px;
}

.nav-bottom ul {
    padding: 0
}

.name-menu {
    padding: 0 18px 0 18px;
}

.big-photo {
    border-bottom: solid 2px #FF5353;
    width: 1258px;
}

.slider-box {
    margin: 35px auto;
    width: 930px;
}

.carousel-element {
    float: left;
    padding: 0 10px 0 10px;
    height: 173px;

}

.image {
    box-shadow: 2px 2px 3px 0 #959494;
}

.image:hover {
    box-shadow: 3px 3px 4px 0 rgba(255, 83, 83, 0.37);
}

.slick-prev, .slick-next {
    background-color: rgba(168, 0, 0, 0.16);
    padding: 3px 2px 0 2px;
    width: 24px;
    height: 24px;
    top: 110%;
    border-radius: 15px;
}

.slick-prev {
    left: 880px;
}

.slick-next {
    right: 0;
}

.slick-prev:hover, .slick-next:hover {
    background-color: rgba(175, 0, 0, 0.74);
}

.slick-prev:focus, .slick-next:focus {
    background-color: rgba(160, 0, 0, 0.58);
}

.text-slide-1, .text-slide-2, .text-slide-3 {
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    margin: -119px 0 0 13px;
    font-size: 16px;
    font-weight: 700;
    text-shadow: 2px 2px 3px #272626, 0 0 0 grey;
    width: 150px;
}

.text-slide-1 {
    margin: -114px 0 0 13px;
}

.text-slide-2 {
    margin: -103px 0 0 20px;
    text-align: center;
}

.text-slide-3 {
    margin: -100px 0 0 26px;
}

.percent {
    font-size: 36px;
    font-weight: 100;
}

.off {
    font-size: 16px;
    font-weight: 400;
}

.percent-description {
    font-size: 12px;
    color: #4b4b4b;
    font-weight: 100;
    margin-top: 0;
}

.products-box {
    width: 950px;
    margin: auto;
}

.products-box h4 {
    margin: 5px 0 0 7px;
}

.element-box {
    margin-top: 33px;
}

.products-element {
    float: left;
    margin: 0 5px 10px 5px;
    box-shadow: 1px 1px 2px 0 #959494;
}

.products-element:hover {
    box-shadow: 3px 3px 4px 0 rgba(255, 83, 83, 0.37);
}

.products-element:hover > .description {
    display: block;
}

.last-element {
    margin: 0 0 0 5px;
}

.sales, .discount {
    margin: 4px 0 0 4px;
    background-color: transparent;
    width: 83px;
    height: 67px;
    position: absolute;
    border-width: 39px 48px 31px 42px;
    border-style: solid;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
}

.sales {
    border-color: #F00 transparent transparent #F00;
}

.discount {
    border-color: #4DD2D9 transparent transparent #4DD2D9;
}

.sales span, .discount span {
    position: absolute;
    color: #ffffff;
    text-shadow: 1px 1px 2px #272626, 0 0 0 grey;
    margin: -26px 0 0 -32px;
    font-size: 14px;
}

.sales span {
    font-size: 14px;
    transform: rotate(-40deg);
    -moz-transform: rotate(-40deg); /* Äëÿ Firefox */
    -ms-transform: rotate(-40deg); /* Äëÿ IE */
    -webkit-transform: rotate(-40deg); /* Äëÿ Safari, Chrome, iOS */
    -o-transform: rotate(-40deg); /* Äëÿ Opera */
}

.discount span {
    font-size: 12px;
    transform: rotate(-38deg);
    -moz-transform: rotate(-38deg); /* Äëÿ Firefox */
    -ms-transform: rotate(-38deg); /* Äëÿ IE */
    -webkit-transform: rotate(-38deg); /* Äëÿ Safari, Chrome, iOS */
    -o-transform: rotate(-38deg); /* Äëÿ Opera */
}

.description {
    display: none;
    position: absolute;
    padding: 197px 0 0 0;
    box-shadow: 1px 1px 2px 0 #959494;
}

.price-block {
    padding: 0 0 0 80px;
}

.price {
    background-color: #FF5353;
    color: rgb(255, 255, 255);
    width: 68px;
    height: 68px;
    border-radius: 34px;
    vertical-align: middle;
    display: table-cell;
    text-align: center;
    font-weight: 700;
}

.description-text {
    background-color: rgb(255, 255, 255);
    margin-top: -16px;
    padding-top: 8px;
    width: 227px;
    height: 105px;
}

.description-text p {
    text-align: center;
    margin-bottom: 0;
}

.star {
    text-align: center;
    margin-top: -4px;
}

.korf-block {
    padding: 27px 0 0 16px;
    font-size: 10px;
}

.korf {
    float: left;
}

.korf span {
    margin-left: 3px;
}

.korf img {
    margin-top: -15px;
}

.add-element {
    margin-top: -8px;
}

.add-element p {
    text-align: left;
    margin-left: 110px;
}

.plus {
    color: #FF5353;
}

.add-element-text {
    margin-left: 3px;
}

.social {
    width: 980px;
    margin: auto;
    padding-top: 28px;
}

.social-block {
    float: left;
    width: 300px;
    padding-left: 19px;
}

.social-block h4 {
    font-stretch: condensed;
}

.facebook {
    margin: 0 24px 0 51px;
}